
nav(ng-controller='MainNavigationController as MainNavigationCtrl')

	.controls
		a.active(href='#', ng-click='MainNavigationCtrl.activeIndex = 0')
			i.icon.ion-ios7-film(ng-class='{"ion-ios7-film-outline":MainNavigationCtrl.activeIndex == 0}')
		a(href='#', ng-click='MainNavigationCtrl.activeIndex = 1')
			i.icon.ion-ios7-pricetag(ng-class='{"ion-ios7-pricetag-outline":MainNavigationCtrl.activeIndex == 1}')
		a(href='#', ng-click='MainNavigationCtrl.activeIndex = 2')
			i.icon.ion-ios7-gear(ng-class='{"ion-ios7-gear-outline":MainNavigationCtrl.activeIndex == 2}')

	.content
		
		news-feed(ng-class='{"active":MainNavigationCtrl.activeIndex == 0}')

			news-article

				.publisher-image

				h2 Isis taking over places

				article-sample Oscar Pistorius did not have a mental disorder when he killed his girlfriend...

		app-store(ng-class='{"active":MainNavigationCtrl.activeIndex == 1}')

		app-settings(ng-class='{"active":MainNavigationCtrl.activeIndex == 2}')
