
nav(ng-controller='MainNavigationController as MainNavigationCtrl')

	notification-stream(ng-class='{blur:MainNavigationCtrl.showNewsSummary || MainNavigationCtrl.showSettings}')

	app-settings.ng-hide(ng-show='MainNavigationCtrl.showSettings', close-button-handler='MainNavigationCtrl.closeSettings', init-function-setter='MainNavigationCtrl.setOpenSettingsHook')

	news-summary.ng-hide(ng-show='MainNavigationCtrl.showNewsSummary', close-button-handler='MainNavigationCtrl.closeNewsSummary', on-link-click='MainNavigationCtrl.onLinkClick')
