
nav.controls
	a.active(href='#')
		i.icon.ion-ios7-film
	a(href='#')
		i.icon.ion-ios7-gear

.content
	
	news-feed.active

		news-article

			.publisher-image

			.text

				h2 Isis taking over places

				article-sample Oscar Pistorius did not have a mental disorder when he killed his girlfriend, a psychological report says as his murder trial resumes....

	app-settings fdsa
