
nav(ng-controller='MainNavigationController as MainNavigationCtrl')

	.controls(onselectstart='return false;')
		.ios-status-offset(ng-show='MainNavigationCtrl.iOS')
		button.active(on-tap='MainNavigationCtrl.activeIndex=0')
			i.icon.ion-ios7-film(ng-class='{"ion-ios7-film-outline":MainNavigationCtrl.activeIndex != 0}')
		button(on-tap='MainNavigationCtrl.activeIndex=1')
			i.icon.ion-ios7-pricetag(ng-class='{"ion-ios7-pricetag-outline":MainNavigationCtrl.activeIndex != 1}')
		button(on-tap='MainNavigationCtrl.activeIndex=2')
			i.icon.ion-ios7-gear(ng-class='{"ion-ios7-gear-outline":MainNavigationCtrl.activeIndex != 2}')


	notification-stream(ng-class='{active:MainNavigationCtrl.activeIndex == 0}')

	app-store(ng-class='{active:MainNavigationCtrl.activeIndex == 1}')

	app-settings(ng-class='{active:MainNavigationCtrl.activeIndex == 2}')
