
nav(ng-controller='MainNavigationController as MainNavigationCtrl', ng-switch='MainNavigationCtrl.activeIndex')

	.controls
		.ios-status-offset(ng-show='MainNavigationCtrl.iOS')
		button.active(ng-mousedown='MainNavigationCtrl.activeIndex = 0')
			i.icon.ion-ios7-film(ng-class='{"ion-ios7-film-outline":MainNavigationCtrl.activeIndex != 0}')
		button(ng-mousedown='MainNavigationCtrl.activeIndex = 1')
			i.icon.ion-ios7-pricetag(ng-class='{"ion-ios7-pricetag-outline":MainNavigationCtrl.activeIndex != 1}')
		button(ng-mousedown='MainNavigationCtrl.activeIndex = 2')
			i.icon.ion-ios7-gear(ng-class='{"ion-ios7-gear-outline":MainNavigationCtrl.activeIndex != 2}')

	.content
		
		ambian-stream(ng-switch-when='0')

		app-store(ng-switch-when='1')

		app-settings(ng-switch-when='2')
