
nav(ng-controller='MainNavigationController as MainNavigationCtrl')

	.controls.ng-hide(onselectstart='return false;', ng-show='!MainNavigationCtrl.minimized')

		.ios-status-offset.ng-hide(ng-show='MainNavigationCtrl.iOS')

		button.active(on-tap='MainNavigationCtrl.Navigate(0)')
			i.icon.ion-ios7-film(ng-class='{"ion-ios7-film-outline":MainNavigationCtrl.activeIndex != 0}')
		button(on-tap='MainNavigationCtrl.Navigate(1)')
			i.icon.ion-ios7-pricetag(ng-class='{"ion-ios7-pricetag-outline":MainNavigationCtrl.activeIndex != 1}')
		button(on-tap='MainNavigationCtrl.Navigate(2)')
			i.icon.ion-ios7-gear(ng-class='{"ion-ios7-gear-outline":MainNavigationCtrl.activeIndex != 2}')

	.stabalizer

	notification-stream(ng-class='{active:MainNavigationCtrl.activeIndex == 0,blur:MainNavigationCtrl.showNewsSummary}')

	app-store(ng-class='{active:MainNavigationCtrl.activeIndex == 1}')

	app-settings(ng-class='{active:MainNavigationCtrl.activeIndex == 2}')

	news-summary.ng-hide(ng-show='MainNavigationCtrl.showNewsSummary', close-button-handler='MainNavigationCtrl.closeNewsSummary', on-link-click='MainNavigationCtrl.onLinkClick')
