
.header Stream

.item.item-checkbox(ng-repeat='feed in AppSettingsCtrl.subscriptions')
	label.checkbox
		input(type='checkbox', ng-model='feed.active', ng-change='AppSettingsCtrl.saveSettings()')
	| {{feed.name}}

.header Speed

.item.range.range-positive
	i.icon.ion-ios7-bolt-outline
	input(type='range', name='speed', min='-20000', max='-500', ng-model='AppSettingsCtrl.speed', ng-change='AppSettingsCtrl.saveSettings()')
	i.icon.ion-ios7-bolt

.header Sources

.item.item-checkbox(ng-repeat='source in AppSettingsCtrl.sources')
	label.checkbox
		input(type='checkbox', ng-model='source.enabled', ng-change='AppSettingsCtrl.saveSettings()')
	| {{source.name}}
