
button.left(ng-show='NavBarCtrl.leftButtonText', ng-click='NavBarCtrl.leftButtonHook()') {{NavBarCtrl.leftButtonText}}
h1 {{NavBarCtrl.headerText}}
button.right(ng-show='NavBarCtrl.rightButtonText', ng-click='NavBarCtrl.rightButtonHook()') {{NavBarCtrl.rightButtonText}}
