
connection-management(ng-switch='StreamCtrl.streamStatus')

	.disconnected(ng-switch-when='0')
		h4 Unable to connect to server. Please check your internet connection and try again.
		button.connect(ng-click='StreamCtrl.connect(true)') TRY AGAIN


	.connectingToNewStream(ng-switch-when='1')
		h4 Connecting...
		img(src='images/loading.gif')


	#notificationList.streaming(ng-switch-when='2', ng-class='{paused:StreamCtrl.paused}')

		// this 1px buffer gives a huge performance boost, for god knows what reason
		.buffer

		ambian-notification(ng-repeat='notification in StreamCtrl.notifications', notification='notification', on-link-click='StreamCtrl.linkClick')

		.badSettingsMessage(ng-show='StreamCtrl.numberOfActiveStreams == 0')
			| You have no active streams set. In order to see any data, you
			| need to turn on at least one stream in the settings tab.

		.badSettingsMessage(ng-show='StreamCtrl.numberOfActiveSources == 0')
			| You have no active sources set. In order to see any data, you
			| need to turn on at least one source in the settings tab.

	button.streamControl.pause(ng-show='StreamCtrl.streamStatus == 2 && StreamCtrl.paused == false', ng-click='StreamCtrl.pause()')

	button.streamControl.settings.ng-hide(ng-show='StreamCtrl.streamStatus == 2 && StreamCtrl.paused == true', ng-click='StreamCtrl.openSettings()')
		i.icon.ion-ios7-gear

	button.streamControl.play.ng-hide(ng-show='StreamCtrl.streamStatus == 2 && StreamCtrl.paused == true', ng-click='StreamCtrl.play()')
		i.icon.ion-play
