
connection-management(ng-switch='StreamCtrl.connectionStatus')

	.disconnected(ng-switch-when='0')
		h4 Unable to connect to server. Please check your internet connection and try again.
		button.connect(ng-click='AmbianStreamCtrl.connect(true)') TRY AGAIN

	.connecting(ng-switch-when='1')
		h4 Connecting...
		img(src='images/loading.gif')

	.connected(ng-switch-when='2', ng-class='{paused:StreamCtrl.paused}')

		.buffer(ng-show='StreamCtrl.paused')

		ambian-notification(ng-repeat='notification in StreamCtrl.notifications')

	button.streamControl.pause(ng-show='StreamCtrl.connectionStatus == 2 && StreamCtrl.paused == false', ng-click='StreamCtrl.pause()')
	button.streamControl.play.ng-hide(ng-show='StreamCtrl.connectionStatus == 2 && StreamCtrl.paused == true', ng-click='StreamCtrl.play()')
		i.icon.ion-play
