
.sourceLogo(ng-style='{"background-image":"url({{article.sourceLogo}})"}')

h1.title {{article.Content.Title}}

h2.sourceName
	a(href='{{article.Content.Guid}}', target='_blank') {{article.Source}}

p.text {{article.Content.Description}}
