
.userProfileImage(ng-style='{"background-image":"url({{tweet.UserImageUrl}})"}')

h1.name
	a(href='#', ng-click='linkClick("http://twitter.com/{{tweet.Screenname}}")') {{tweet.Username}}
	img.verified(src='images/verified.png', ng-show='tweet.Verified')

tweet-body(content='tweet.Text')

ul.images.ng-hide(ng-show='tweet.Media != null')
	li
		a.image(href='#', ng-click='linkClick("{{image.Url}}")', ng-repeat='image in tweet.Media', ng-style='{"background-image":"url({{image.Url}})"}')

ul.hashtags
	li.hashtag(ng-repeat='hashtag in tweet.Hashtags') \#{{hashtag}}&nbsp;
