@import "../ionic/scss/ionic"
@import "theme"
@import "layout"
@import "app-settings"
@import "app-store"
@import "notifications"

ambian-app
	display:block
	position:relative
	width:100%
	max-width:768px
	height:100%
	margin:0px auto
	background-color:#fcfcfc

	nav
		.controls
			display:block
			text-align:center
			font-size:32px
			margin:-1px
			background-color:$primary-highlight

			.ios-status-offset
				height:22px

			button
				display:inline-block
				background:none
				border:none
				padding:0px 8%
				color:white
				font-size:32px
				height:44px

				@media(max-width:550px)
					padding:0px 10%

				&:hover
					color:#ddddff

		.content
			padding:7px
