@import "../ionic/scss/ionic"
@import "theme"
@import "layout"
@import "app-settings"
@import "app-store"

ambian-app
	display:block
	position:relative
	width:100%
	max-width:768px
	height:100%
	margin:0px auto

	nav
		.controls
			display:block
			text-align:center
			font-size:32px
			margin:-1px
			background-color:$primary-highlight

			a
				display:inline-block
				padding:10px 8%
				margin:2px
				margin-bottom:-1px
				color:white

				&:hover
					color:#ddddff

		.content

			news-feed
				padding:15px
				display:none
				max-width:600px
				margin:auto;

				news-article
					display:block
					font-size:18px
					line-height:28px

					&,& h2
						font-family:$defaultFont

					.publisher-image
						display:block
						float:left
						width:100px
						margin:10px 10px 10px 0px
						background:url(http://static.bbci.co.uk/frameworks/barlesque/2.62.2/desktop/3.5/img/blq-blocks_grey_alpha.png)
						width:45px
						height:45px
						background-size:contain
						background-repeat:no-repeat

					article-sample
						display:block
						overflow:hidden

			app-store
				display:none

			app-settings
				display:none

			.active
				display:block
