
notification-official
	display:block

	.leftColumn
		height: 137px
		width: 50px
		float: left
		margin-right: 10px

		.sourceLogo
			height: 50px
			width: 50px
			border-radius: 4px
			background-size: contain
			background-repeat: no-repeat

	.title
		font-size:22px
		line-height: 27px
		overflow:hidden

	.sourceName
		color:$primary-highlight
		white-space:nowrap
		font-size:15px
		margin:5px 0px
		overflow:hidden

		img.verified
			vertical-align:bottom

	.text
		overflow:hidden
		color: #666
		font-size: 16px

@media(max-width:550px)
	notification-official
		.leftColumn
			margin-right:5px
			height:100px
			width:25px

			.sourceLogo
				height:25px
				width:25px
				border-radius:2px

		.title
			font-size:18px
			line-height:22px
